Source: fmradio-free
Section: user/other
Priority: optional
Maintainer: Yulang.Zhao <nnaabbcc.zhao@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, aegis-manifest-dev, aegis-builder (>= 1.4), libasound2-dev, libqtm-multimedia-dev, libbluetooth3-dev
Standards-Version: 3.8.0
Homepage: https://github.com/nnaabbcc/fmradio-free

Package: fmradio-free
Section: user/other
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Free FM Radio receiver
XSBC-Maemo-Display-Name: Free FM Radio
XB-Maemo-Icon-26:  iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
 AK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dE
 AP4A/gD+6xjUggAAAAlwSFlzAAAN1gAADdYBkG95nAAAAAl2cEFnAAAAQAAAAEAA6vP4YAAAEWhJ
 REFUeNrdW1tsHNd5/v5zZpezu6Qp8bakRJkURTGUCeUC1xWswFegdR+a9iEGHBt5KFAHCFrABpr2
 xUX8EsBBgDSFkQBxnaLwBZVg1LJR1DHiyrYIubZlS4lsJwpt2RJlizLvy73vXM45fx92ZzQ74kqk
 tE5r/8DBzs7Mmf+c77+e/8wQ2kDPPvsshBAgIhARpJQolUoJ27a3ElGGiCwhhAXAIqLgVwKQjUdo
 ZtYAFDMrAMoYo5hZMXPFcZy1rq4uX2sNZgYzwxiDu++++5rHTlfb8ZFHHsH4+DiklLjzzjvxyiuv
 ZKWU24loUAiRBTDKzBNENAggRUQpACkAdqN1AOggEBjsAnABOI1WY+Za43eBiE4DOGeMWWTmBa31
 hTvuuGNxenoaWmt89NFHeOihhz57AJ555hlIKZHJZFAulwlAnxDiTy3L2g9gFMAwgEEi6gMgrlk8
 zWSYeQXAAoA5AOeUUm8YY/4bwEpnZydXKhVorXHPPfe0H4CDBw+is7MTjuNkiGiEiL4phPgzIvoS
 gN7NQ08gAAwG+KpBWWXmD4wxLzHzIWY+Z9t2pVwu4957720fAAcOHIDW2rJt+4+FEN8lojuJqB9A
 8mpGzQR0LXegI5/A2kgFJnH1CDTIY+ZlZn7VGPOY4zhvSynVfffdd+0AHDhwAAC2WJZ1rxDi74ho
 10aBawmABHb+sgfZ491492/n4PT41wpA+GhmPmOM+YlS6iCA/JVAsFpdePrpp2GMAYBdUsq/B/At
 Zt7CfM3SgiGGMQw2dW/e4NMOIgDjAB6RUn5Za/3jJ5988oyUEt/+9rc3B0B3dzfK5fJ+IcQjRPR1
 AFY7Jg8A0ecwcxhCgzAXPW9ZFowxTdeICJZVH7rWGsYYEDUp5RYiul8IsSeRSDyUTqffaDUWud7J
 J554Ar7vjwkhfkpEtzGzCOJvWxoxtn6YRucFG8v7q9g+OYzR0VForVEul2GMQTqdxs6dOzE6OoqB
 gQEQESqVCogIO3bswPj4OLZt24ZkMolqtQrf9+N8BOqRabdS6uitt9669qtf/erKADz++OMQQvQI
 Ib4P4C8AyLZOnhmGGD0fZtD1qY35m/LgTsLw8DCYGUtLSzDGYO/eveju7sb8/DyYGePj4yiVSshk
 Mti7dy/m5ubgOA6y2SzS6TQWFhZCzYk2rfW2arVqG2Nev/nmm50jR460NoHHH38cRJQUQtwD4B5j
 TKItOh83ATAM1+3e8zx88skn2L59OwBAKYVMJoPu7m68++67WFxchDEGqVQKY2NjSKfTWFxcxKlT
 p0BEGBoawtTUFGzbRrVabeKjlMLa2lrCdd17tNa/BvDko48+qh588MHwnqZkhZlJSvlHAL7HzFvb
 LfloA1+UVtQfGGOQyWSQyWSabB4A+vr60N3djUKhEPbRWiOdTiOVSsEYE5U8VldXUSgU4DhOj1Lq
 HyzLutG27SZnEQLw6KOPQkppA/guM+8KvPNn1pjBQBgJojl+1BEG98fXAUFrMq3I+Xw+j1KpFL02
 obX+TqVSsX/2s59dagKNjmNEdGcbw9K6ZMBgrg9eGw1tdDhhZkalUkGtVoPWGkopMDN838fy8jK2
 bNmC6667DkqpMHJUq9XQeRIRPM9DqVSC1jrKljzP+xNjzMj111///iUAdHR0kDHmm40M77MFoCEt
 MMNoE4ayoOVyOeTzeUxNTYGI0NHRgW3btuGdd95BIpHADTfcgNHRUbiui6mpKRSLRRQKBRARmBml
 Ugm1Wu1SvsZktdbfmJ2d/QCNBDwEQGvdJ4S4S2t9VentZohRT4IYgDYabBjz8/PwPA9KKRhjcOLE
 CUxOTmJychJEhFOnTuHjjz8OJ7lz505IKZHP5zEzM9Mk/WKxGJd+QEkhxDc6Ojr+DcAq0Ehpf/Sj
 HyGdTt8npfwpEfV85hogGFOvDuP6d/vx2l/NoNrtQggRSKkOEjOklEgk6oHI87zwmhACiUQCRASl
 VGgOzIx8Po98Pt+StxBixbbtvxkeHv6P+++/v64BzCwBfJ2Ze9qV7V0WADQcF9Ck+nEKJhcnrfUl
 EmbmUPqX82HM3Of7/q2pVOo5ANoCAMuyepl5Zwu1aTvV84AgXBm0i28+n4fnebicEIkIjuOMzszM
 bAWwYjVODmutt8fy6c+MDIIQZmAaUYCubYEJ13URFEQ2QNlyuTwYAsDMg8aYwfUACJxLO8EJTACM
 cFXILaoi8WSo1T3FYhGe5210CNsADAH4nfXwww/DGJMlop44EyEE+vv7w7DSLhAMGNxIYq60HO7q
 6kIikcDq6mpL/rVaLcwDNkj9RLTthz/8ISwiShpjRhvV2iZKJpO45ZZb8Nvf/hYzMzNtBcCETlC3
 VFspJSYmJmDbNqanp8NIEVCQCG1S+gCQtCxrFEDCEkJsMcZMtJpcX18fMpkMtNaXDOBqiSkwgbom
 GDbr1gWFEMhkMkgkEi2lW61WUalUsNnoxcy7CoXCdRYzZy5n/5cLUxtkBKDZhgMAGBfz/fUAiOb7
 cf5BDlAoFNYNlVH+xhhI2bzy11oP1Gq1jGWMsZRSqfWkGyxAgri7WZSFEOjr64MxBsvLyyEIJrLo
 UdpAq9aeOwBBKdU0iSDpqVarLcfFzNi6dSv6+/tx+vTpZiEwpwBYFjNbzJyKIxxFfT0JbISICHv2
 7AER4fDhw+EEDEzECeqWzw6yu4B/MAFmRrlcvmLSY4zBwMAA9u3bh1OnToVltAaltNaWZYyxmDm1
 ngkEzilek9sMSSnR0dHR5OgMbzwRiq7vg/+1Wg1ra2uh6gdAxY+DcUcXW8wc3JNiZktorS0ppS2l
 DNEMCpEmFqqklBBChNKI94naGxFd4kMu9tEXB9K4FkjHGAMhRMgnOobgN5fLwfM82LYdCiqZTEII
 Aa01LMsK5xCvM3R0dATApJRSligWi9bIyIi9e/duaK3R1dWFG264oalKGyAZ1Ol838euXbswNDQE
 pRSy2SzGx8fBzOjq6sLevXthWVa4sgskODg4iBtvvBFaG0gp0NnZGU5479694Tp/fHwcO3bsgO/7
 YX/f9+F5Hr7yla/AdV0YY3D77bcjmUzC8zzcdNNN6Ovrg+M4mJiYwMTEBDzPC+eglEIikcBtt90W
 gJbSWlvCdV3Z29vbMTg4CGMMbNvG9u3bL1E7YwzGxsYghIBSCiMjI8hkMvB9HwMDA+jp6YHneeju
 7sb4+Hg4yKgKb9myBXv27Glog4Bt26EG7dixA6lUClprDA0Noa+vL1Rx3/eRy+VQKpWwe/fu8JmT
 k5OQUkIphbGxMXR1dcH3fWSzWWSz2aZKcaAZU1NTwf+UUiohjDHS9/2OqK3E1SZqQ3GfEFyLn49e
 iz+jXgMwTdq1XvN9H67rwnEc5PP5UCPidn2lFucTAKC1tkR8wnG7DzQgqg1NDi0GTNQBtXy2vnif
 bnFfrVbDysoKSqVSGAbjY4uH6I0IIC4My/M8zcyuMSbUgmACgQrGo0BU6vHjeP/1Bqq1ioB2UeKV
 SgW5XC4scQVhLuAffVbUNOMAxMcW5R/RhBoRKUspFQDQNMi4541rQFTScalHBxeVRnDs+wq+UtBa
 o1AooKTrRc1cLodcLodarbZuJThqdtGxxDUjqpHraU3juA6A7/uKiJz1yszrqe96k47H3QD9oMbn
 +z7y+TyKxSJc18X8/DxKpRKUUsjn8yibGlzXhe/7TdKMq3o8LW6lAXFNXU8DjDE1KaVveZ6nhBBO
 tEMQw6PJSBCuorE6KEIGsb9YLKJYLIbFyqWlJRSLRQDA6upquHPjODUo5YPR0AzTvA8Q17QoIEGs
 B9CUK6znn+KgBRuuTRoAQOXz+ZplWWGNfWlpCb7vhxMO6vNzc3OoVquoVqv46KOPUKlUsLy8jDNn
 zgAACoUC5ubmMDMzA9d1wzgc+INcLocPPvgASmkopeE5LrTS8HwPCwsLYUVneXk5XN+Hawal4Lou
 zp8/H/qm8+fPw3VdaK1DrTLGYHV1tUkjA/6u6+KTTz4JookjhFBWV1eXOnnyZC2I70tLSzh69CjK
 5TI6OztD9HzfxwsvvIBCoYC1tTW8+OKLkFKiVqvh+PHjOHXqFBzHwfnz53Hw4EE4jhPfpMTMzAzO
 nj0LpRVcx8FqLgfVr+DUHBw+fDic9Jtvvtlk58EYSqUSDh06FF47dOgQSqUSAOCll15CpVKBlBIn
 TpxoilJB/2KxiOeeew6u60JKWQOgLCGEWltbqwVlr1qthmq12pQJep4XOqeAueu6oUoFa/JgPbGy
 sgIiCtfxAQClUgnFYhEsGarhI7TR8JWPxcXFsPS2srICoF6QifYPNCDQzPPnz4d9FhYWwuNAA+K5
 jOd5uHDhQnBf3QSMMRUhxELQIR7fg3pbPp8P7T5KcV+xnt8I7C7uOKO2Tbi48otLL75nGOcZ3UuM
 9wcQrllie46LQoiq5XlePpFInI5PLMi/A+SvpnTNzHjvvfeQTqebHJQmDWM0EHh33Xo5HJXgZitS
 xhgsLi7ixIkTlzhIIcS57u7uogXA01qfIyKF2GZpoVBoSkQ2S1prTE9PBwwjAJh6JTiWY6wHQDwP
 2CzNzs7i7NmzTfyJyDPGzBKRJ55//nlorRe11rlo7C2XyyiXy6EkN5p3tyqjRc9po8OiqNb1fYF4
 v/i6ZDO5fzyHiPJv+LUVABeeeuqpusSVUgtSygUiGggkVy6XYds28vl8mJm1iwyZcHv8cjXBICwH
 Lz+0aweJiBYCv2cBgO/7c8x8gYi+DCCM9b7v47HHHsOZM2ea0LxWqvuASIbWoiZojMFrr70Wvi3S
 xq27hUwmcxEA13VXhRCzwVXHccKNyenp6bbvDGkyMIYvvh8gWk/s97//fRhu2wEAETERzY6NjeVC
 AIhIK6Vel1J+S2vdE91gjBYi20WM+ssRDMDwlTUrWudrA60AmHZdVwGNd4SOHDkCrfVhY8z7Qdr7
 BSUG8L5t20d+8YtfIAQAAJh5xRjzEoBN7TF9zsiTUr5gjMkFJ0IAyuUyAzgEYLldW2D/34iIFi3L
 +q+RkZHQnsKZNkrZZ40xr8a3kb4gxET0EoBzlUolPBkCcOzYMWitHSHEz6WUZ/5QL0v8oYiIThPR
 vyqlai+++OKlADRu4kQi8Wsp5Y8ty1r7vx50G2mViH6cTCZPxs276d8rr7wCAJ5lWc8Q0QEi+iI4
 RFcI8e9SymeJyD958mRrAIB6YYGZ1yzL+ifLsl7/vJsCEf2PEOKfAeSPHz9+yfV13f3Ro0dx/Pjx
 Wdu2/1FKeQRA275p+QNO3JdSvppMJh/68MMPz73zzjvr3tcy3u3fvx+9vb1vEtFfE9HPiSiHzwkR
 UU5K+S/JZPI7PT09b09OTra8t+UnM2+8Uf/K5Ktf/epsIpH4vjHmd8z8Pa31BK7xoykgWPy1/aVM
 FkKcllL+xLbtZ7TWhZdffvmyHa4Y8BcWFpDNZt1sNvue67pvAxDM3Iv615/WlfqvTwQJgbVkEe+n
 z0LRNS9yXCHEp5ZlPWdZ1sO9vb2/rNVqtfVs/tKRbJD27duHCxcuIJvNprXW1zPzXxpj/pyZvwSg
 f9Ovz7CAAF315BvOeZmIPpBS/lII8Z9Syo8//fTT6vDwMN56662NPWczTG+++WY4joO1tTX09fWR
 EKJXKXWn1voWY8woMw+h/gLiADNvSDuICUxXBq9RslsCsEBE80Q0K4R4LZFIvCqEWF1cXOSenh4k
 k0kcO3Zs40BeFfwAHnjgAbz11lvwfR+/+c1vsG/fvn7P84aMMYPGmCEAOxttgJnTqH84HbQ06iaU
 AgMg1ICLjZmrRFQDUCOiRQCzAM4JIeaFEAsdHR3zx44dW/7a176GRCKBu+66Cz/4wQ+uah5tCfL7
 9+8P9wGDavLIyIi1tLTUrZRKm/rHVxbq3x5aAML/jUeoRvODYyLyiUhJKav9/f2Fubk5lUgkwm8J
 E4lE6Kivhf4XA9boAwrq8LUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTItMDQtMjNUMTA6MTk6NDcr
 MDQ6MDAurg3HAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEyLTA0LTIzVDEwOjE5OjI0KzA0OjAwqHSm
 YQAAAABJRU5ErkJggg==
